*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/libs/
app/src/main/res/drawable/
libFrame/build/generated/assets/
libFrame/build/generated/res/
libFrame/build/generated/source/aidl/
libFrame/build/generated/source/rs/
libFrame/build/intermediates/annotations/
libFrame/build/intermediates/assets/
libFrame/build/intermediates/bundles/debug/aidl/
libFrame/build/intermediates/bundles/debug/assets/
libFrame/build/intermediates/bundles/debug/jni/
libFrame/build/intermediates/bundles/debug/libs/
libFrame/build/intermediates/bundles/release/aidl/
libFrame/build/intermediates/bundles/release/assets/
libFrame/build/intermediates/bundles/release/jni/
libFrame/build/intermediates/bundles/release/libs/
libFrame/build/intermediates/dependency-cache/
libFrame/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/aidl/
libFrame/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.1.1/assets/
libFrame/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/aidl/
libFrame/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/assets/
libFrame/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/jni/
libFrame/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/libs/
libFrame/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/assets/
libFrame/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/jni/
libFrame/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/libs/
libFrame/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/res/
libFrame/build/intermediates/exploded-aar/com.makeramen/roundedimageview/2.2.1/aidl/
libFrame/build/intermediates/exploded-aar/com.makeramen/roundedimageview/2.2.1/assets/
libFrame/build/intermediates/jniLibs/
libFrame/build/intermediates/lint/
libFrame/build/intermediates/manifest/tmp/
libFrame/build/intermediates/rs/
libFrame/build/intermediates/shaders/
libFrame/build/intermediates/transforms/
libFrame/build/tmp/
libFrame/src/libs/
libFrame/src/main/res/CVS/
libFrame/src/main/res/anim/CVS/
libFrame/src/main/res/drawable/CVS/
libFrame/src/main/res/layout-sw550dp-large/
libFrame/src/main/res/layout/CVS/
libFrame/src/main/res/values-v13/CVS/
libFrame/src/main/res/values-v8/CVS/
libFrame/src/main/res/values/CVS/
libFrame/build/*
