<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhangwei.com.fragmentactivity">

    <application
        android:name=".BaseGlobal.Global.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerView.RecyclerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecyclerView.RecyclerItemActivity.HorizontalRecyclerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecyclerView.RecyclerItemActivity.VerticalRecyclerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecyclerView.RecyclerItemActivity.GridRecyclerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecyclerView.RecyclerItemActivity.StaggeredGridHorizontalActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RecyclerView.RecyclerItemActivity.StaggeredGridVerticalActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CoordinatorLayout.CoordinatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CoordinatorLayout.CoordinatorItemActivity.CoordinatorSnackBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoordinatorLayout.CoordinatorItemActivity.CoordinatorToolBar"
            android:screenOrientation="portrait" />

    </application>

</manifest>